body
{
    margin: 0px;
}

#bar
{
    background-color: black;
    padding: 2px;
    position: sticky;
    display: flex;
}

#logo
{
    font-family: 'Wire One', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    flex: 1;
    border: 3px solid green;
}

#nav
{
    flex: 1;
    border: 3px solid green;
}
