body
{
    margin: 0px;
}

#bar
{
    background-color: black;
    padding: 2px;
}

#logo
{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
}
