
.icon-user:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-camera-outline:before { content: '\e802'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
